.sidenav{
    width: 100%;
    max-width: 10vw;
    height: 100%;
    border-right: 1px solid var(--border-color); 
    padding: 24px 0;
}

.navItem{
    padding: 12px;
    border-right: 2px solid var(--primary-color);
    cursor: pointer;
    color: var(--primary-color);
}
.navItem:hover{
    background-color: var(--primary-hover);

}