
.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    /* width: 100%; */
    margin: 8px 0;
  }
  
  .input {
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid var(--secondary-color);
    outline: none;
    transition: border 0.2s, box-shadow 0.2s;
    background: var(--white);
  }
  
  .input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 3px var(--primary-color);
  }
  
 