.navbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding: 0 20px;
  background-color: var(--white);
  height: 56px;
}

.logo {
  height: 32px;
}

.logoText {
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
  color: var(--primary-color);
  margin-left: 12px;
}
