.tableHeader {
  background-color: var(--background-dark);
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.tableRow {
  border-bottom: 1px solid var(--border-color);
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.tableRow:hover {
  background-color: var(--primary-hover);
  transition: background-color 0.2s ease-in-out;
}

.underlineHover:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--primary-color);
}